{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Django E-Commerce</title>
</head>
<body>

    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
                            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Team</a>
                            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Projects</a>
                            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Calendar</a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button id="cartIcon" type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">View notifications</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                        <div id="cartCount" class="absolute p-0.5 w-4 h-4 rounded-full bg-red-800 text-white -top-0.5 -right-0.5 text-[0.5rem] flex items-center justify-center">0</div>
                        <div id="cartDropdown" class="hidden absolute top-full rounded-lg shadow-xl flex flex-col -translate-x-full left-full translate-y-4 w-48 bg-white p-4">
                            <p class="text-black font-bold mb-2 underline">This is your cart</p>
                            <div id="cartItems" class="flex flex-col">
                                <!-- Cart items entered by JS -->
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2">
                <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Team</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Projects</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
            </div>
        </div>
    </nav>
      


    <div class="container mx-auto flex flex-col items-center gap-8 py-8">

        <div class="search w-full max-w-[900px]">
            <form class="flex items-center justify-center gap-4">
                <input type="text" name="item_name" placeholder="Search for Products" class="w-full p-4 rounded-xl shadow-xl border border-solid border-black/30">
                <button class="px-4 py-2 bg-black shadow-xl rounded-full text-white hover:bg-gray-600 transition-all">Search</button>
            </form>
        </div>

        {% if product_objects|length > 0 %}
            <div class="flex p-4 flex-wrap gap-6 justify-center items-stretch">
                {% for product in product_objects  %}
                    <div class="basis-[20rem] product p-4 rounded-xl bg-blue-200 shadow-xl flex flex-col items-center gap-4">
                        <h1 id="itemName{{ product.id }}" class="font-black text-2xl">{{ product.title }}</h1>
                        <div class="w-full h-[14rem] rounded-xl overflow-hidden">
                            <img src="{{ product.image }}" class="w-full h-full object-cover">
                        </div>
                        <p class="max-h-[10rem] overflow-scroll">{{ product.description }}</p>
                        <div class="h-0.5 w-full bg-black rounded-full"></div>
                        <div class="flex items-end self-end justify-around w-full gap-4 grow">
                            <a href="/{{ product.id }}" class="text-center w-full px-3 py-2 bg-blue-400 text-white hover:text-black hover:bg-blue-100 transition-all rounded-xl">View</a>
                            <button data-id="{{ product.id }}" class="add-to-cart text-center w-full px-3 py-2 bg-orange-400 text-white hover:text-black hover:bg-orange-100 transition-all rounded-xl">Add to Cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if page.count > 4 %}

                <div class="pagination w-full max-w-[900px]">
                    <div class="flex items-center justify-center gap-4">
                        {% if product_objects.has_previous %}
                            <a href="?page={{ product_objects.previous_page_number }}" class="px-4 py-2 bg-black shadow-xl rounded-full text-white hover:bg-gray-600 transition-all">Previous</a>
                        {% endif %}
                            <span class="px-4 py-2 shadow-xl rounded-full text-white bg-gray-600 transition-all">{{ product_objects.number }}</span>
                        {% if product_objects.has_next %}
                            <a href="?page={{ product_objects.next_page_number }}" class="px-4 py-2 bg-black shadow-xl rounded-full text-white hover:bg-gray-600 transition-all">Next</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        
        {% else %}
            <h2 class="text-2xl font-black">No Products Found. Please search again.</h2>
        {% endif %}

        
    </div>
</body>
<script src="{% static 'shop/app.js' %}"></script>
</html>

